<header class="bg-primary text-white py-3">
    <div class="container">
        <h1 class="h3">Aplicação</h1>
        <nav>
            <a href="/" class="text-white me-3">Home</a>
            <a href="/plantonistas" class="text-white me-3">Plantonistas</a>
            <a href="/sobreavisos" class="text-white me-3">Sobreavisos</a>
            <a href="/doctors" class="text-white me-3">Médicos</a>
            <a href="/specializations" class="text-white me-3">Especializações</a>
            <a href="/reports" class="text-white">Relatórios</a>
        </nav>
    </div>
</header>