<header class="bg-primary text-white py-3">
  <div class="container">
    <h1 class="h3">Aplicação</h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="/static/img/logo/logo.png"
            alt="Logotipo do Hospital"
            style="height: 40px"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="escalasDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-calendar-alt"></i> Escalas
              </a>
              <ul class="dropdown-menu" aria-labelledby="escalasDropdown">
                <li>
                  <a class="dropdown-item" href="/plantonistas">Plantonistas</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/sobreavisos">Sobreavisos</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="cadastrosDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-folder-open"></i> Cadastros
              </a>
              <ul class="dropdown-menu" aria-labelledby="cadastrosDropdown">
                <li>
                  <a class="dropdown-item" href="/specializations"
                    >Gestão de Especializações</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/doctors">Gestão de Médicos</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="relatoriosDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-bar"></i> Relatórios
              </a>
              <ul class="dropdown-menu" aria-labelledby="relatoriosDropdown">
                <li>
                  <a class="dropdown-item" href="/reports/plantonistas"
                    >Relatório Mensal de Plantonistas</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/reports/sobreavisos"
                    >Relatório Mensal de Sobreavisos</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/reports/list"
                    >Relatório Consolidado de Escalas</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<!-- Componente para padronizar o título das telas -->
<div class="page-header">
  <h2 class="text-center text-primary">{{ title }}</h2>
</div>
