<!-- Caixas de texto baseadas no AdminLTE -->
<div class="form-group">
    <label for="inputText">Texto</label>
    <input type="text" class="form-control" id="inputText" placeholder="Digite aqui" style="text-transform: uppercase;">
</div>
<div class="form-group">
    <label for="inputEmail">Email</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="Digite seu email" style="text-transform: uppercase;">
</div>
<div class="form-group">
    <label for="inputPassword">Senha</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua senha" style="text-transform: uppercase;">
</div>