<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aplicação{% endblock %}</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
</head>

<body>
    {% include 'components/header.html' %}
    {% include 'components/subtitle.html' %}
    
    
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
    {% include 'components/footer.html' %}
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>