{% extends 'base.html' %} {% block title %}Gestão de Médicos{% endblock %} {%
block content %} {% set subtitle = 'Gestão de Médicos' %} {% include
'components/subtitle.html' %}

<form
  method="POST"
  action="{% if edit_doctor %}/doctors/edit/{{ edit_doctor.id }}{% else %}/doctors{% endif %}"
>
  <div class="form-group">
    <label for="doctorName">Nome do Médico</label>
    <!-- Campo de entrada de texto com letras maiúsculas -->
    <input
      type="text"
      class="form-control"
      id="doctorName"
      name="name"
      placeholder="Digite o nome do médico"
      required
      style="text-transform: uppercase"
      value="{% if edit_doctor %}{{ edit_doctor.name }}{% endif %}"
    />
  </div>
  <div class="form-group">
    <label for="fantasyName">Nome Fantasia (PJ)</label>
    <input
      type="text"
      class="form-control"
      id="fantasyName"
      name="fantasy_name"
      placeholder="Digite o nome fantasia"
      required
      style="text-transform: uppercase"
      value="{% if edit_doctor %}{{ edit_doctor.fantasy_name }}{% endif %}"
    />
  </div>
  {% include 'components/combobox.html' %}
  <div class="form-group">{% include 'components/buttons.html' %}</div>
</form>

<!-- Tabela de Médicos -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Nome PJ</th>
      <th>Especializações</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for doctor in doctors %}
    <tr>
      <td>{{ doctor.id }}</td>
      <td>{{ doctor.name }}</td>
      <td>{{ doctor.fantasy_name }}</td>
      <td>
        {% for specialization in doctor.specializations %} {{
        specialization.name }}{% if not loop.last %}, {% endif %} {% endfor %}
      </td>
      <td>
        <a href="/doctors/edit/{{ doctor.id }}" class="btn btn-sm btn-warning">
          <i class="fas fa-edit"></i> Editar
        </a>
        <form
          method="POST"
          action="/doctors/delete/{{ doctor.id }}"
          style="display: inline"
        >
          <button type="submit" class="btn btn-sm btn-danger">
            <i class="fas fa-trash"></i> Excluir
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
